<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ meeting.id }}</title>
</head>
<body>
<div>
    <h1>{{ meeting.title }}</h1>
    <p>
        Scheduled at {{ meeting.startTime }} on {{ meeting.date }}, in {{ meeting.room }}
    </p>
</div>
</body>
</html>
