<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>Welcome to the meeting planner!</h1>
<p>
    {{ message }}
</p>
<p>
    You have {{ meetingsCount }} meetings
</p>
</body>
</html>
